
.bodyDiv {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.brand-logo {
  font-size: 1.8rem !important;
}

.bodyImg {
  z-index: 26;
  height: 100px;
  width: 100px;
}

.containerDiv {
  text-align: left;
  line-height: 0.8;
}

.text {
  font-size: 18px;
}

.subText {
  font-size: 13px;
}

.boldFont {
  font-weight: bold;
}

.valueBox {
  line-height: 1.9;
  text-align: center;
  font-size: 18px;
  border-width: 2px; border-color: rgb(12, 133, 115); 
  border-style: solid; 
  border-radius: 4px; 
  z-index: 54;
  height: 38px;
  width: 60px;
}

.heading {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 150%
}

.subHeading {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 120%;
}

.customStyle {
  padding-top: 20px;
}

.pad-top{ 
  padding-top: 8px !important;
}

.margin-top {
  margin-top: 4px;
}
@media only screen and (max-width: 600px) {
  .submitBtn {
    width: 100%;
    display:inline-block;
    text-align: center
  }
}

@media only screen and (min-width: 600px) {
  .submitBtn {
    width: 300px;
    display:inline-block;
    text-align: center
  }
}