.center-card-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.center-card-grid {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

@media screen and (max-width: 680px) {
    .center-card-grid {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
}
