.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto 25% 25% auto;
  grid-template-rows: 15% auto 10%;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.blank-header {
  grid-column: 1 / 5;
}

.blank-footer {
  grid-column: 1 / 5;
}

.blank-body {
  grid-column: 1 / 5;
}
